*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-decoration: none;
}

html{
    overflow: hidden;
}

@keyframes slide{
    0%{
        background: linear-gradient(#FF7F50, #FFD700);
    }

    50%{
        background: linear-gradient(#FFD700, #FF7F50, #FFD700);
    }
    
    100%{
        background: linear-gradient(#FFD700, #FF7F50);
    }
}

main{
    animation: slide 12s infinite;

    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-info{
    display: flex;
    

    
    align-items: center;
    flex-direction: column;
}

.form-info>input{
    width: 150px;
    height: 40px;

    padding: 10px;

    border-radius: 20px;

    background-color: antiquewhite;
    border: 0px;
}
.form-info>label{
    margin: 6px;
}
.form-info>.comentario{
    width: 500px;
    height: 40px;

    padding: 12px;
}

.btn-enviar{
    width: 120px;
    height: 35px;

    margin: 12px;

    border-radius: 25px;

    background-color: transparent;
}

.frases{
    width: 600px;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 5px solid black;

    overflow-y: scroll;
    overflow-x: hidden;

    color: white;
}
.v1{
    border: 1px solid black;

    width: 100%;

    margin-top: 25px;

    background-color: darkorange;

    border-radius: 50px;
}

.v1 a{
    background-color: aqua;

    border-radius: 20px;
}

.deslogar{
    text-decoration: none;

    font-size: 30px;
}