*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow: hidden;
}

@keyframes slide{
    0%{
        background-image: url(../static/IMG/4k-Blood-Moon-Talon-Skin-League-of-Legends-4K-Wallpaper.jpg);
    }
    25%{
        background-image: url(../static/IMG/FRfCDAwXsAAIV8n.jpg);
    }
    50%{
        background-image: url(../static/IMG/talon.webp);
    }
    75%{
        background-image: url(../static/IMG/thumb-1920-1347973.jpeg);
    }
    100%{
        background-image: url(../static/IMG/4k-Blood-Moon-Talon-Skin-League-of-Legends-4K-Wallpaper.jpg);
    }
}

main{
    animation: slide 12s infinite;

    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;

    background-image: url();

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-info{
    display: flex;
    

    
    align-items: center;
    flex-direction: column;
}

.form-info>input{
    width: 150px;
    height: 40px;

    padding: 10px;

    border-radius: 20px;

    background-color: antiquewhite;
    border: 0px;
}
.form-info>label{
    margin: 6px;
}
.form-info>.comentario{
    width: 500px;
    height: 40px;

    padding: 12px;
}

.btn-enviar{
    width: 120px;
    height: 35px;

    margin: 12px;

    border-radius: 25px;

    background-color: transparent;
}

.frases{
    width: 600px;
    height: 500px;

    display: flex;
    flex-direction: column;

    border: 2px solid black;

    display:flex;
    align-items: center;

    overflow-y: scroll;
    overflow-x: hidden;

    color: white;
}
.v1{
    border: 4px solid black;

    width: 100%;
}
.v1 button{
    margin-top: 24px;
}