<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style1.css') }}">

</head>
<body>
    <main>
        <form class="form-info" action="/post/mensagem" method="post">

            <label for="nome">Usuario</label>
            <input type="text" name="nome" id="nome" autocomplete="off">

            <label for="comentario">Comentarios</label>
            <input class="comentario" type="text" name="comentario" id="comentario" autocomplete="off">

            <div>
                <button type="submit" class="btn-enviar">Enviar</button>
            </div>

        </form>
        
        <br>

        <div class="frases">
            {% for mensagem in mensagens %}
            <div class="v1">
                <h2>Usuario: {{mensagem.nome}}</h2>
                <br>
                <h2>Mensagem: {{mensagem.comentario}}</h2>
                <br>
                <a href="/deleta_mensagem/{{mensagem.cod_comentario}}">Excluir</a>
                <a href="/curtidas/{{mensagem.cod_comentario}}">I Like: {{mensagem.curtidas}}</a>
                <a href="/del-curtidas/{{mensagem.cod_comentario}}">not like: {{mensagem.curtidas}}</a>
                <br>
            </div>
            {% endfor %}
        </div>

        <br>

    </main>
</body>
</html>