<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style1.css') }}">

</head>
<body>
    <main>
        <form class="form-info" action="/post/menssagem" method="post">

            <label for="nome">Usuario</label>
            <input type="text" name="nome" id="nome" autocomplete="off">

            <label for="comentario">Comentarios</label>
            <input class="comentario" type="text" name="comentario" id="comentario" autocomplete="off">

            <div>
                <button type="submit" class="btn-enviar">Enviar</button>
            </div>

        </form>
        
        <br>

        <div class="frases">
            <p></p>
        </div>

        <br>

    </main>
</body>
</html>